.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75)
}

.BaseModal {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 87%;
    height: 50%;
    background-color: #1c2c38;
    border-radius: .5em;
}

body.light {
    .Overlay {
        background-color: rgba(255, 255, 255, 0.75)
    }
    
    .BaseModal {
        background-color: #E2ECF5;
    }
}