.CreateTags {
    ul {
        display: flex;
        flex-direction: row;
    }
    
    ul li {
        padding: 0;
        list-style: none;
        display: block;
        color: #1C2C38;
        font-weight: bold;
        padding: .75em;
        border-radius: .35em;
        background-color: #E88626;
        margin-right: 1em;
    }

    button {
        padding: 1em;
        border-radius: .35em;
        color: #1C2C38;
        background-color: #E88626;
        border: none;
        font-weight: bold;
    }

    input {
        background-color: #324858;
        color: #ffffff;
        border: none;
        padding: 1em;
        border-radius: .35em;
        margin-left: 1em;
    }
}