.WysiwygForm {
    background-color: #324858;
    color: #ffffff;
    position: relative;
    border-bottom-left-radius: .35em;
    border-bottom-right-radius: .35em;
    height: 45vh;

    fieldset{
        height: 35vh;
        border: none;
        max-width: 100%;
        overflow-y: auto;
        padding-top: 1em;

        div {
            max-width: 70ch;
            padding-left: 1.5em;
            line-height: 1.5em;
            outline: transparent;
        }
    }

    button{
        border: none;
        font-weight: bold;
        border-radius: .35em;
        padding: 1em;
        text-align: center;
        color: #1C2C38;
        background-color: #E88626;
        margin: 1em 0;
        position: absolute;
        bottom: 0;
        left: 2em;
        transition: all .2s ease;
    }

    button:hover {
        background-color: #FFAC5A;
    }
}

body.light {
    .WysiwygForm {
        background-color: #ffffff;
        color: #324858;
    }
}