.WysiwygForm {
    background-color: #324858;
    color: #ffffff;
    position: relative;
    border-bottom-left-radius: .35em;
    border-bottom-right-radius: .35em;
    height: 45vh;

    fieldset{
        height: 35vh;
        border: none;
        max-width: 100%;
        overflow-y: auto;

        div p {
            max-width: 70ch;
            padding-left: 1.5em;
        }
    }

    button{
        border: none;
        border-radius: .35em;
        padding: 1em;
        text-align: center;
        color: #1C2C38;
        background-color: #E88626;
        margin: 1em 0;
        position: absolute;
        bottom: 0;
    }
}